ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
li {
  background-color: blueviolet;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
  font-size: 25px;
}
.rubik {
  font-family: "Rubik Pixels", system-ui;
  font-weight: 400;
  font-style: normal;
}
.sedgwick {
  font-family: "Sedgwick Ave Display", cursive;
  font-weight: 400;
  font-style: normal;
}
.dancing {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.fjalla {
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.indie {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}
